.single {
    display: flex;
    flex-flow: column nowrap;
    .imageContainer, .single__desc {
      height: 50vh;
    }
    .imageContainer {
      background: black;
    }
    img {
      height: 100%;
      display: block;
      margin: auto;
    }
    .single__desc {
      padding: 0 1rem;
      div {
        padding-top: 2rem;
      }
    }
}